
.amazonLink {
  margin-top: 10px;
}

.amazonLink__text {
  display: inline-block;
  position: absolute;
  color: blue;
  line-height: 40px;
  font-size: 13px;
  overflow-wrap: anywhere;
}

.amazonLink__image {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {

  .amazonLink__image {
      width: 10px;
      height: 10px;
    }

    .amazonLink__text {
      display: inline-block;
      position: absolute;
      color: blue;
      line-height: 40px;
      font-size: 8px;
      overflow-wrap: anywhere;
    }

    .amazonLink__image {
      top: 8px;
      margin-right: 2px;
    }
  
}