.message_container{
    display: flex;
    flex-direction: column;
    margin-left : 20px;
    padding-left: 10px;
    background-color: aquamarine;
}
.message_header{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-between;
    align-items: center;
}
.message_body{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
}
.message_operation{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.message_username{
    margin: 2px;
    font-size: 16px;
    padding: 2px ;
    padding-left: 20px ;
    padding-right: 20px ;
    background-color: coral;
}
.message_date{
    margin: 2px;
    font-size: 16px;
    padding: 2px ;
    padding-left: 20px ;
    padding-right: 20px ;
    background-color: cornflowerblue;
}

.message_data{
    background-color: rgb(127, 214, 255);
    padding: 10px;
}

.message_done{
    margin: 2px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: chartreuse;
}
.message_delete{
    margin: 2px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
}