.center {
  text-align: center;
  padding: 20px;
  background-color: rgb(250, 252, 252);
}

img.username_pic {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-color: #3a4145;
  border-radius: 60px;
  border-style: solid;
  padding: 0.15rem;
}

.center a {
  text-decoration: none;
}

.username {
  font-size: 40px;
  color: #3a4145;
}
.username_description {
  font-size: 22px;
  color: #aaaaaa;
}

.skillList {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.skillItem {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 15px;
  color: #2a2a2bf1;

  text-align: left;
  padding: 0px;
  line-height: 1.8;
}
.middle_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 27em;
}

.skillItem::before {
  content: "▹";
  color: red;

  background-color: yellow;
}

.about_intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 47em;
  line-height: 1.7;
  font-size: 20px;
}
