nav {
  display: flex;
  align-items: center;
  height: 60px;
  background: #333;
  color: #fff;
  padding: 0 16px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 30px;
  margin-left: auto;
  height: 0px;

}

.links li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.links li + li {
  margin-left: 30px;
}

li {
  border-radius: 30px;
}

.logo{
  margin: 0px;
  padding: 0px;
}
.logo h1{
  margin: 0px;
  padding: 0px;
}




li.forMobile{
  visibility: hidden;
}


@media screen and (max-width: 850px) {
  li.navItem{
    display: none;
  }

  li.forMobile{
    visibility: visible;
    color:red;

  }

  /* dorp down menu; */
  .links{
    margin:0px;
    margin-left: auto;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown_content span {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown_content span:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown_content {
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  li.navItem{
    display: none;
  }

  li.forMobile{
    visibility: visible;
    color:red;
  }

  /* dorp down menu; */
  .links{
    margin:0px;
    margin-left: auto;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown_content span {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown_content span:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown_content {
    display: block;
  }

  nav {
    align-items: right;
    justify-content: flex-end;
    padding: 0px;
  }
  
}
