
.heading {
  color: #00fc00;
  font-weight: 300;
  font-size: 20px;
}

.homeHeadingContainer {
  max-width: 70%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 70vh;
}

.shiftRight{
    position:relative;
    left:20%;
    
}

.socialList{
    position: fixed;
    height:100%;
    width: 10%;
    left:0%;

    display: flex;
    flex-direction: column-reverse;
}

.listItem {

    width: 10%;
    margin: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

.listItem::after{
    content: "";
    display: flex;
    width: 1px;
    height: 90px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: black;

}

h2.big-heading{
    margin: 0px;
    font-size:  60px;
    font-weight: 600;
    color: #157ff8;
    line-height: 1.4;
}

h3.big-heading{
    margin: 0px;
    font-size:  50px;
    font-weight: 600;
    color: #4266da;
    line-height: 1.4;
}

button.getInTouch{
    margin-top: 60px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

p.homeStory{
    max-width: 70%;
    font-size: 20px;
    line-height: 1.5;
    color: #474646;
}
.homeStory .link{
    text-decoration: none;
    color: #00fcc1;
}

@media screen and (max-width: 850px) {
   

  }
  
  @media screen and (max-width: 600px) {
      .heading{
          font-size:  17px;
      }

    h2.big-heading{
        font-size:  30px;
    }

    h3.big-heading{
        margin: 0px;
        padding-top: 20px;
        text-align: left;
        font-size:  25px;
    }

    p.homeStory{
        font-size: 18px;
        line-height: 1.5;
        color: #474646;
        max-width: 100%;
    }

    .homeHeadingContainer {
        max-width: 75%;
      }
    
  }
  